<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.sima.springframework.test.bean.UserDao"/>

    <bean id="userService" class="com.sima.springframework.test.bean.UserService">
        <property name="userId" value="001"/>
        <property name="company" value="腾讯"/>
        <property name="location" value="深圳"/>
        <property name="userDao" ref="userDao"/>
    </bean>

    <bean class="com.sima.springframework.test.common.MyBeanPostProcessor"/>
    <bean class="com.sima.springframework.test.common.MyBeanFactoryPostProcessor"/>

</beans>